* {
  font-family: "barlow-semi-condensed", sans-serif;
}

/* Header */

#site-logo {
  font-weight: 900;
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-left: 40px;
  display: inline-block;
  color: #e1b674;
}

header {
  background-color: #6b88e8;
}


ul {
  list-style: none;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;

}

a {
  color: white;
}

li {
  font-size: 18px;
  color: white;
}

/* Main Index and Header*/

h1 {
  font-weight: 600;
  font-size: 28px;
  margin-top: 72px;
}

.home-page-text {
  width: 400px;
}


/* About me*/

.about-header {
  padding-left: 50px;
}

.profile-img {
  padding-left: 50px;
  width: 15%;
}

.profile-info {
  padding-left: 50px;
  width: 400px;
}

/*Contact Page*/

.contact {
  font-weight: 400;
  font-size: 20;
}

.form {
  font-size: 18px;
}

#name {
  font-size: 16px;

}

#form-message {
  padding-left: 100px;
  font-size: 16px;
  width: 300px;
  height: 200px;
}

/* Footer */

footer {

  padding-top: 400px;
}