* {
  font-family: "barlow-semi-condensed", sans-serif;
}

/* Header */

#site-logo {
  font-weight: 900;
  font-size: 2rem;
  display: inline;
  color: #e5e4a9;
}

header {
  padding-left: 1rem;
  background-color: #2d7596;
  display: flex;
  align-items: center;
}

.button {
  background-color: #2d7596;
  width: 70px;
  height: 20px;
  padding: 5px;
  border: 3px solid #2c4979;
  border-radius: 10%;
  animation-name: press;
  animation-duration: 300ms;
  animation-timing-function: ease-out;
}

li {
  font-size: 1.2rem;
  color: black;
}

.button:hover{
  background-color: #2c4979;
}

.button:active {
  animation: press 300ms ease-out;
  animation-fill-mode: forwards;
}

@keyframes press {
  0%{
    background-color: #2c4979;
    transform: translate(0, 0);
  }
  50%{
    background-color: #1c485d;
    transform: translate(5px, 3px);
  }
  100%{
    background-color: #2c4979;
    transform: translate(0, 0);
  }
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  margin-left: 1.5rem;
}


/*Header Responsivness*/

@media screen and (max-width: 630px) {
  header, ul {
    flex-direction: column;
    align-items: start;
    
  }
   ul {
    padding: 0;
  }
  
}

/* Main Index and Header*/

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.home-page-text {
  width: 400px;
}


/* About me*/

.about-header {
  padding-left: 50px;
}

.profile-img {
  padding-left: 50px;
  width: 15%;
}

.profile-info {
  padding-left: 50px;
  width: 400px;
}

/*Contact Page*/

.contact-form {
  font-weight: 400;
  font-size: 20;
}

.form {
  font-size: 18px;
}

#name {
  font-size: 16px;

}

#form-message {
  
  font-size: 16px;
  width: 300px;
  height: 200px;
}

/* Projects */

.projects {
  font-size: 3rem;
  text-align: center;
  font-style: medium;
}

.project-overview-img{
  width: 100%;
}

figcaption {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/*Responsivness Project Images*/

@media screen and (min-width: 630px) {
  .img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .img-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Project Après La Travail*/

.fig-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;

}

.spread-page{
  width: 80%;
  align-items: center;
}

.apres-body {
  background-color: #e5f5f5;
}

.small-caption {
  font-size: small;
  font-style: thin;
  align-items: left;
}

/*City Library Project*/

.library-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.library-img {
  width: 100%;
}

.library-text {
  width: 500px;
  padding-left: 3rem;
}

/*Muniplicaty Project*/

.muniplicaty-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.city-img{
  width: 100%;
}

/*Robert Wun Coffe Table Book*/

.robert-wun-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.wun-img {
  width: 100%;
}

/*Profiles in the Dark Project*/

.dark-img{
width: 100%;
}

.profiles-dark-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Footer */

footer {

  padding-top: 3rem;
}