* {
  font-family: "barlow-semi-condensed", sans-serif;
}

/* Header */

#site-logo {
  font-weight: 900;
  font-size: 2rem;
  display: inline;
  color: #e5e4a9;
}

header {
  padding-left: 1rem;
  background-color: #2d7596;
  display: flex;
  align-items: center;
}


ul {
  list-style: none;
  display: flex;

}

a {
  text-decoration: none;
}

li {
  font-size: 1.2rem;
  color: black;
  margin-left: 1.5rem;
}

@media screen and (max-width: 560px) {
  header, ul {
    flex-direction: column;
    align-items: start;
    
  }
   ul {
    padding: 0;
  }
  
}

/* Main Index and Header*/

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.home-page-text {
  width: 400px;
}


/* About me*/

.about-header {
  padding-left: 50px;
}

.profile-img {
  padding-left: 50px;
  width: 15%;
}

.profile-info {
  padding-left: 50px;
  width: 400px;
}

/*Contact Page*/

.contact-form {
  font-weight: 400;
  font-size: 20;
}

.form {
  font-size: 18px;
}

#name {
  font-size: 16px;

}

#form-message {
  
  font-size: 16px;
  width: 300px;
  height: 200px;
}

/* Projects */

.projects {
  font-size: 3rem;
  text-align: center;
  font-style: medium;
}

.project-overview-img{
  width: 100%;
}

@media screen and (min-width: 560px) {
  .img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .img-container {
    grid-template-columns: repeat (3, 1fr);
  }
}


/* Footer */

footer {

  padding-top: 3rem;
}